Source: cardapio-gnomepanel
Section: gnome
Priority: extra
Maintainer: tvst <tvst@hotmail.com>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.49)
Standards-Version: 3.8.3
Homepage: https://launchpad.net/cardapio

Package: cardapio-gnomepanel
Architecture: any
Depends: cardapio, gnome-panel, python-gnomeapplet
Description: Cardapio applet for Gnome Panel
 Cardapio is a launcher that can work in two modes: as a panel applet 
 (in which case it is an alternative to Gnome's application menu 
 applet) or as a launcher (in which case it is a lightweight 
 alternative to Gnome Do). Either way, it features a beautiful, 
 well-thought-out interface, supports tracker searching, and much more. 
 Give it a try today! 
 .
 This is a dummy package that installs the dependencies required to 
 allow Cardapio to run in the Gnome panel.
