Source: cardapio
Section: gnome
Priority: extra
Maintainer: tvst <tvst@hotmail.com>
Build-Depends: debhelper (>= 7), python-support (>= 0.6), cdbs (>= 0.4.49), python-dev, intltool
Standards-Version: 3.8.3
Homepage: https://launchpad.net/cardapio

Package: cardapio
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gtk2 (>= 2.17), python-tk, python-glade2, python-gmenu, python-keybinder, xdg-user-dirs, xdg-user-dirs-gtk
Recommends: tracker
Suggests: cardapio-gnomepanel | cardapio-gnomeshell | cardapio-awn | cardapio-docky
Description: An alternative Gnome menu, launcher, and much more!
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Gnome's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Gnome Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!

Package: cardapio-awn
Architecture: all
Depends: cardapio, avant-window-navigator (>= 0.4.0) | avant-window-navigator-trunk (>= 0.4.0)
Description: Cardapio applet for Avant Window Navigator
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Gnome's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Gnome Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!
 .
 This package installs an AWN applet that can be used to show/hide
 the Cardapio menu.

Package: cardapio-docky
Architecture: all
Depends: cardapio, docky, python-dockmanager | python-docky
Description: Cardapio helper for Docky
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Gnome's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Gnome Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!
 .
 This package installs a Docky helper that lets you easily add Cardapio
 to your  Docky configuration. This can also be done by hand through
 gconf, but this package aims to  automate the process.

Package: cardapio-gnomepanel
Architecture: all
Depends: cardapio, gnome-panel, python-gnomeapplet | gir1.2-panelapplet-4.0, python-gtk2 | gir1.2-gtk-3.0, gnome-icon-theme
Description: Cardapio applet for Gnome Panel
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Gnome's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Gnome Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!
 .
 This is a package that also installs the dependencies required to
 allow Cardapio to run in the Gnome panel.

Package: cardapio-matepanel
Architecture: all
Depends: cardapio, mate-panel, mate-applets
Description: Cardapio applet for Mate Panel
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Mate's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Mate Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!
 .
 This is a package that also installs the dependencies required to
 allow Cardapio to run in the Mate panel.

Package: cardapio-gnomeshell
Architecture: all
Depends: cardapio, gnome-shell
Description: Cardapio extension for Gnome Shell
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Gnome's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Gnome Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!
 .
 This package installs a Gnome Shell extension that lets you easily add
 Cardapio to your Gnome Shell top panel.

Package: cardapio-cinnamon
Architecture: all
Depends: cardapio, cinnamon
Description: Cardapio extension for Cinnamon
 Cardapio is a launcher that can work in two modes: as a panel applet
 (in which case it is an alternative to Gnome's application menu
 applet) or as a launcher (in which case it is a lightweight
 alternative to Gnome Do). Either way, it features a beautiful,
 well-thought-out interface, supports tracker searching, and much more.
 Give it a try today!
 .
 This package installs a Cinnamon applet that lets you easily add Cardapio
 to your panel.
